@model IEnumerable<AspDotNetMvcCodeFirstProject.Models.Donor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Raw(TempData["CreateMessage"])
@Html.Raw(TempData["SizeMessage"])
@Html.Raw(TempData["ExtensionMessage"])

<div class="text-center">
    Model+AJAX with Image, Boolean, DateTime
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Search : @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>

        <th>
            @*@Html.DisplayNameFor(model => model.DonorName)*@
            @Html.ActionLink("Donor Name", "Index", new { sortOrder = ViewBag.NameSortParam })
        </th>
        <th>
            Email Address
        </th>
        <th>
            Gender
        </th>
        <th>
            Date Of Birth
        </th>
        <th>
            Phone No
        </th>
        <th>
            Donation Date
        </th>
        <th>
            BloodGroup
        </th>
        <th>
            Donor Image
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.DonorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CellPhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodGroup.BloodGroupName)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.DonorImage)*@
                <img src="@Url.Content(item.DonorImage)" height="80" width="80" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DonorID }) |
                @Html.ActionLink("Details", "Details", new { id = item.DonorID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DonorID })
            </td>
        </tr>
    }

</table>
